:root {
  --color-branding: hsl(40, 24%, 68%);
  --color-primary: hsl(213, 100%, 7%);
  --color-primary-light: hsl(213, 100%, 25%);
  --color-secondary: hsl(28, 67%, 63%);
  --color-secondary-dark: hsl(28, 67%, 43%);
  --color-tertiary: hsl(209, 32%, 66%);
  --color-quartenary: hsl(170, 80%, 60%);

  --color-advertising: var(--color-tertiary);
  --color-marketing: var(--color-quartenary);
  --color-recruitment: #FFBF0D;
  --color-consultancy: #FF651A;

  --color-text: #4e4e4e;
  --color-dark: #000;
  --color-grey: hsl(233, 90%, 20%);
  --color-grey-darkened: hsl(233, 90%, 5%);
  --color-grey-light: hsl(233, 12%, 62%);
  --color-grey-light-darkened: hsl(233, 12%, 47%);
  --color-grey-lighter: #f1f1f1;
  --color-grey-dark: hsl(233, 28%, 19%);
  --color-grey-dark-darkened: hsl(233, 28%, 4%);
  --color-grey-darker: hsl(233, 28%, 12%);

  --color-danger: hsl(349, 74%, 53%);
  --color-success: hsl(130, 48%, 54%);
  --color-warning: hsl(36, 77%, 55%);
}