:root {
  --color-branding: hsl(40, 24%, 68%);
  --color-primary: hsl(213, 100%, 7%);
  --color-primary-light: hsl(213, 100%, 25%);
  --color-secondary: hsl(28, 67%, 63%);
  --color-secondary-dark: hsl(28, 67%, 43%);
  --color-tertiary: hsl(209, 32%, 66%);

  --color-text: #4e4e4e;
  --color-dark: #000;

  --color-danger: hsl(349, 74%, 53%);
  --color-success: hsl(130, 48%, 54%);
  --color-warning: hsl(36, 77%, 55%);
}