/**
 * Wrapper
 * Keep things in a container that sits in the center of its parent
 */

.#{$namespace}o-wrapper {
  width: 100%;
  max-width: 980px;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  margin-left: auto;
  margin-right: auto;

  &--x-tiny { max-width: 450px; }
  &--tiny  { max-width: 600px; }
  &--small { max-width: 720px; }
  &--large { max-width: 1200px; }
  &--huge  { max-width: 1400px; }

  &--flush {
    @include mq($until: desktop) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}