.c-icon {
  fill: currentColor;

  &--block {
    display: block;
  }

  &--large {
    width: 2rem;
    height: 2rem;
  }

  &--circled {
    border: 2px solid currentColor;
    border-radius: 50%;
    // padding: var(--spacing);
  }
}