/**
 * Set the main font family
 */

body {
  font-family: var(--font-family-primary)
}



/**
 * Shared declarations for certain elements.
 */

address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset {
  margin-top: 0;
  margin-bottom: var(--spacing);
}



/**
 * Consistent indentation for lists.
 */

dd, ol, ul {
  margin-left: 1.1em;
  padding-left: 0;
}