<form
  name="Booking"
  method="post"
  novalidate
  data-netlify="true"
  data-netlify-honeypot="bot-field"
  hidden
>
  <input type="hidden" name="form-name" value="Booking" />
    <input
      id="name"
      v-model="bookingForm.name"
      name="Name"
      class="c-form-control"
      type="text"
      required
    />
    <input
      id="email"
      v-model="bookingForm.email"
      name="Email"
      class="c-form-control"
      type="text"
      required
    />
    <select
      id="destination"
      v-model="bookingForm.destination"
      name="Destination"
      class="c-form-control"
    >
      <option selected value="Greece">Greece</option>
      <option value="Croatia">Croatia</option>
      <option value="Turkey">Turkey</option>
      <option value="Montenegro">Montenegro</option>
      <option value="Italy">Italy</option>
    </select>
    <select
      id="yacht"
      v-model="bookingForm.yacht"
      name="Yacht"
      class="c-form-control"
    >
      <option selected value="Medium">Medium (Max 8 crew)</option>
      <option value="Large">Large (Max 10 crew)</option>
      <option value="Catamaran">Catamaran (Max 8 crew)</option>
    </select>
  <!-- Need to set the hidden input of date to the readable so netlify gets 
  told what value we want to see -->
  <input :value="selectedDatesReadable" type="hidden" name="Date" />
</form>