.u-color-branding {
  color: var(--color-branding);
}
.u-color-primary {
  color: var(--color-primary);
}
.u-color-secondary {
  color: var(--color-secondary);
}
.u-color-tertiary {
  color: var(--color-tertiary);
}